<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="login" value=""/>
    <add key="password" value=""/>
    <add key="clientID" value=""/>
    <add key="secret" value=""/>
    <add key="projectID" value=""/>
    <add key="account" value=""/>
  </appSettings>
  <NUnit>
    <TestCaseBuilder>
      <add key="OldStyleTestCases" value="false" />
    </TestCaseBuilder>
    <TestRunner>
      <add key="login" value=""/>
      <add key="password" value=""/>
      <add key="clientID" value=""/>
      <add key="secret" value=""/>
      <add key="projectID" value=""/>
      <add key="account" value=""/>
    </TestRunner>
  </NUnit>
</configuration>